.input{
    border: 1px solid black;
    border-radius: 25px;
    height: 48px;
    margin: 15px 0 30px 20px ;
    width: 100%;
}
.placeholder{
    margin: 8% 0 0 5px;
    width: 30%;
text-align: center;
}
.button{
    background-color: blue;
    height: 45px;
    border-radius: 25px;
    width: 45%;
}
.img{
position: absolute;
z-index: -1;
left: 31%;
width: 50%;
right: 19%;
top: -2%;
bottom: 102%;
}
body{
    text-align: left;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.icone, .iconef{
    background-color: white;
    color: black;
    padding-right: 8px;
}
